.app__experience {

}

.app__professional {

}

.app__project {

}

.experience_header {
  text-align: center;
  position: relative;
  padding: 0 0 20px; 

  .experience_type {

  }

  .experience_desc {

  }

}

.experience_header::before {
  width: 60px;
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background: radial-gradient(circle at top right,#DA2EEF,#35B5E2);;
  transform: translateX(-50%);
}
