.app__experience {
  padding-bottom: 10rem;
}

.app__professional {
  padding:  60px 0px 120px 0px;
}

.experience_header {
  text-align: center;
  position: relative;
  padding: 0 0 20px; 

  .experience_type {
    font-size: 48px;

    @media screen and (max-width: 1000px) {
      font-size: 32px;
    }
  }

  .experience_desc {
    font-size: 24px; 

    @media screen and (max-width: 1000px) {
      font-size: 16px; 
    }
  }
  
}


.pro_container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 60px auto 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  max-width: 938px;

  @media screen and (max-width: 1000px) {
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 50px auto 0;

    .pro_group:nth-child(1) {
      max-width: 50%;
    }
    .pro_group:nth-child(2) {
      max-width: 75%;
    }
    .pro_group:nth-child(3) {
      max-width: 50%;
    }
  }
}

.pro_group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 0 0 calc((100% - 88px) / 5);
  flex: 0 0 calc((100% - 88px) / 5);
  width: calc((100% - 88px) / 5);

  @media screen and (max-width: 1000px) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
  }

  .gold {
    box-shadow: 0 5px 10px 0 #6B96C3;
  }

  .met {
    box-shadow: 0 5px 10px 0 #99D538;
  }

  .forage {
    box-shadow: 0 5px 10px 0 #0C450C;
  }

  .baruch {
    box-shadow: 0 5px 10px 0 #0D3692
  }
}

.pro_item {
  width: 100%;
  height: 110px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  background-color: #fff;
  border-radius: 16px;

  img {
    width: auto; 
  }
  .goldman {
    height: 64px;
  }

  .metlife {
    height: 28px;

    @media screen and (max-width: 1000px) {
      height: 36px;
    }
  }

  .theforage {
    height: 28px;

    
    @media screen and (max-width: 1000px) {
      height: 36px;
    }

  }

  .baruchcollege {
    height: 48px;
  }

}

.experience_header::before {
  width: 120px;
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background: radial-gradient(circle at top right,#DA2EEF,#35B5E2);
  transform: translateX(-50%);
}

.work_list {
  display: flex; 
  flex-direction: row;
  border-radius: 24px;
  background: radial-gradient(circle at top right,#DA2EEF,#35B5E2);
  margin-top: 4rem;
  justify-content: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;

  .work_title {

    font-size: 32px;


    @media screen and (max-width: 1000px) {
      margin-top: 1rem;
      font-size: 24px; 
    }

  }

  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    border-radius: 24px;
    max-width: 100%;
  }

  .work_desc {
    min-height: 350px;
    padding: 50px;
    flex: 0 0 100%;
    text-align: left;


    @media screen and (max-width: 1000px) {
      width: 100%;
      flex: 0 0 100%;
      padding: 36px;
      text-align: center;
    }

    .work_detail {
      display: flex; 
      height: 100%;
      width: 100%; 

      @media screen and (max-width: 1000px) {
        flex-direction: column-reverse;
        gap: 10px;
      }
    }

    .work_detail-odd {
      display: flex; 
      height: 100%;
      width: 100%; 

      @media screen and (max-width: 1000px) {
        flex-direction: column;
        gap: 10px;
      }
    }

  }


}

.work_list:nth-child(2) {
  background: radial-gradient(circle at bottom right,#35B5E2,#DA2EEF);
}

.work_img { 

  display: flex; 
  flex: 1;
  justify-content: flex-end;
  align-items: center;

  img {
    width: auto; 
    height: 288px; 
  }

  @media screen and (max-width: 1000px) {
    justify-content: center;
  }

}

.work_img-odd { 

  display: flex; 
  flex: 1;
  justify-content: flex-start;
  align-items: center;

  img {
    width: auto; 
    height: 288px; 
  }

  @media screen and (max-width: 1000px) {
    justify-content: center;
  }

}

.work_btn:hover {
  color: #fff;
  background: #0b2c9a;
  border: 1px solid #0b2c9a;
}

.work_btn {
  margin-top: 2.5rem; 
  position: relative;
  font-size: 16px;
  display: inline-block;
  border-radius: 50px;
  padding: 12px 40px;
  background: #0c3ee3;
  border: 1px solid #0c3ee3;
  will-change: background, color, border-color;
  color: #fff;
  transition: all .25s;
  text-decoration: none;
}

.work_btn:hover:before {
  opacity: 1;
  transform: scale(1);
}

.work_btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: 0 0;
  border: 1px solid #0b2c9a;
  opacity: 0;
  z-index: 0;
  will-change: transform;
  transition: all .4s;
  transform: scaleX(1.1) scaleY(1.3);
  box-sizing: border-box;
  pointer-events: none;
}
